
.container{
  /* This is just one example of a solution */
  display: grid;
  border: 2px solid blue;
  grid-template-rows: 450px 450px 450px;
  grid-template-columns: 100px 100px 100px
  grid-gap: 15px;

  }
  .card {

    width: 500px;
    height: 400px;
    border: 1px solid red;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 20px;
    text-align: center;
  }

.author {
  width: 200px;
  height: 200px;
  margin: right;
  border: 1px solid red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 20px;
  text-align: center;
}
