<body>
  <style>
  body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    line-height: 1.75;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
  }

  p {
    font-family: 'Open Sans', sans-serif;
  }
    .container {
      width: 99%;
      border: 2px solid Blue;
      border-radius: 5px;
      height: 100%;
      padding: 5px;
    }

    .header {
      width: 100%;
      height: 100px;
      background-color: white;
      color: black;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }

    .icon {
    background: url("search");
    }

    .content {
      width: 100%;
      border-radius: 5px;
      height: 100%;
      display: flex;
    }
    .gallery {
      width: 90%;
      height: 500px;
      background-color: white;
      color: black;
      padding: 2px 16px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 0.3s;
      padding: 2px 16px;
      text-align: center;
    }

    .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }

    .sidebar {
      width: 10%;
      height: 500px;
      background-color: white;
      color: black;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

    }
    .footer {
      width: 100%;
      height: 50px;
      background-color: white;
      padding: 20px;
      box-sizing: border-box;
      color: black;
      text-align: center;

    }
    p {
    text-align: center;
    }
  </style>
</body>
