
.container{
  display: grid;

  grid-template-rows: 100px 1fr 1fr 1fr 1fr 100px;
  grid-template-areas:
  "hd hd hd"
  "c1 c1 c1"
  "c2 c2 c2"
  "c3 c3 c3"
  "au au au"
  "ft ft ft"
  ;
  grid-gap: 15px;
}
.box {
  border: 1px solid red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 20px;
  text-align: center;
}

.author {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid blue;
}

.sm_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  height: 100px;
  border: 2px solid green;
}

.icon  {
  width: 10%;
  height: auto;
  margin: 15px;

}

#header {
  grid-area: hd;

}

#one {
  grid-area: c1;
  display: flex;
  justify-content: space-between;
}

#two {
  grid-area: c2;
  display: flex;
  justify-content: space-between;
}

#three {
  grid-area: c3;
  display: flex;
  justify-content: space-between;
}

#four {
  grid-area: au
}

#footer {
  grid-area: ft;
}

@media (min-width:900px) {
  .container{
    display: grid;
    border: 2px solid blue;
    grid-template-rows: 100px 1fr 1fr 1fr 100px;
    grid-template-areas:
    "hd hd hd hd"
    "c1 c1 c1 au"
    "c2 c2 c2 au"
    "c3 c3 c3 au"
    "ft ft ft ft";
    grid-gap: 15px;
}
