
.container{
  display: grid;
  border: 2px solid blue;
  grid-template-rows: 100px 200px 200px 200px;

  grid-template-areas:
  "hd hd hd hd"
  "c1 c1 c1 au"
  "c2 c2 c2 au"
  "c3 c3 c3 au";
  grid-gap: 15px;
}
.box {
  border: 1px solid red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 20px;
  text-align: center;
}

.author {
  border: 1px solid red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 20px;
  text-align: center;
}

#zero {
  grid-area: hd
}

#one {
  grid-area: c1
}

#two {
  grid-area: c2
}

#three {
  grid-area: c3
}

#four {
  grid-area: au
}
