<body>
  <style>
  body {
    padding: 20px;
    font-family: sans-serif;
    /*color: #222;*/
    font-size: 5px;
    line-height: 1.75;
    color: red;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    color: blue;
  }

  h2 {

  }

  p {
    font-family: 'Open Sans', sans-serif;
  }
  </style>
</body>

@media (min-width:900px) {

}
