<body>
  <style>
  body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    line-height: 1.75;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
  }

  p {
    font-family: 'Open Sans', sans-serif;
  }
  </style>
</body>
