@import "headings.css";
@import "body.css";
@import "paragraph.css";


.container  {
  display: grid;
  grid-template-rows: 150px 1fr 1fr 1fr 900px 150px;
  grid-template-areas:
  "hd hd hd"
  "c1 c1 c1"
  "c2 c2 c2"
  "c3 c3 c3"
  "au au au"
  "ft ft ft"
  ;
  grid-gap: 15px;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  text-align: center;
  background-color: #F7F7F8;
}

.title {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 80%;
  max-height: auto;
}

.author {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 20px;
  background-color: #F7F7F8;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 200px;
  height: auto;
  border-radius: 50%;
  text-align: center;
}

#company {
  color: #DD3131;
}

#country {
  color: #FFAE0C;
}

.sm_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  height: 100px;
}

.icon  {
  width: 10%;
  height: auto;
  margin: 15px;
}

#header {
  grid-area: hd;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

#one {
  grid-area: c1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#two {
  grid-area: c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#three {
  grid-area: c3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#four {
  grid-area: au;
  display: flex;
  justify-content: space-around;
}

#footer {
  grid-area: ft;
  display: flex;
  justify-content: space-around;
}

@media (min-width:900px) {
  .container{
    display: grid;
    grid-template-rows: 200px 1fr 1fr 1fr 200px;
    grid-template-areas:
    "hd hd hd hd"
    "c1 c1 c1 au"
    "c2 c2 c2 au"
    "c3 c3 c3 au"
    "ft ft ft ft";
    grid-gap: 15px;
    }

  .avatar {
    width: 500px;
    height: auto;
    text-align: center;
    }

  .author {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    }

  #four {
    grid-area: au;
    display: flex;
    justify-content: flex-start;
  }

  .sm_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 150px;
  }

  .icon  {
    width: 15%;
    height: auto;
    margin: 15px;
  }

  .bio  {
    margin-bottom: 100px;
  }
}
