
  body {
    padding: 20px;
    font-family: sans-serif;
    color: #222;
    font-size: 3vw;
    line-height: 1.75;
  }

  h1 {
    font-size: 6vw;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: italic;
    text-align: center;
  }

  h2 {
    font-size: 5vw;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: underline;
  }

  h5 {
    padding: none;
    text-align: center;
  }

  p {
    font-family: 'Open Sans', sans-serif;
  }

  .sidebar {
    /*background-color: white;
    color: #222;*/
  }


@media (min-width:900px) {
  body {
    padding: 20px;
    font-family: sans-serif;
    color: #222;
    font-size: 2vw;
    line-height: 1.75;
  }

  h1 {
    font-size: 5vw;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  h2 {
    font-size: 4vw;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
  }
}
